<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<mvc:annotation-driven></mvc:annotation-driven>

	<mvc:resources mapping="/static/js/**" location="/WEB-INF/resources/js/" />
	<mvc:resources mapping="/static/css/**" location="/WEB-INF/resources/css/" />
	<mvc:resources mapping="/static/img/**" location="/WEB-INF/resources/img/" />
	<mvc:resources mapping="/static/vendor/bootstrap/css/**" location="/WEB-INF/resources/vendor/bootstrap/css/" />
	<mvc:resources mapping="/static/vendor/bootstrap/js/**" location="/WEB-INF/resources/vendor/bootstrap/js/" />
	<mvc:resources mapping="/static/vendor/font-awesome/css/**" location="/WEB-INF/resources/vendor/font-awesome/css/" />
	<mvc:resources mapping="/static/vendor/font-awesome/fonts/**" location="/WEB-INF/resources/vendor/font-awesome/fonts/" />
	<mvc:resources mapping="/static/vendor/jquery/**" location="/WEB-INF/resources/vendor/jquery/" />
	<mvc:resources mapping="/static/vendor/vide/**" location="/WEB-INF/resources/vendor/vide/" />
	<mvc:resources mapping="/static/mp4/**" location="/WEB-INF/resources/mp4/" />
	
	<context:property-placeholder location="/WEB-INF/properties/*.properties" /> 

<bean id="validator"
class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />



	<bean id="viewReslover"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<bean id="multipartResolver"
	      class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
		<property name="maxUploadSize" value="104857600" /> 
			<!-- 100MB 파일 만 받는다  보통은 30mb-->
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	
	<bean id="boardController" class="com.ibm.board.web.BoardController">
		<property name="boardService" ref="boardServiceImpl" />
	</bean>
	
	<bean id="excelController" class="com.ibm.user.web.ExcelController">
	</bean>
	
	<bean id="fileUploader" class="com.ibm.user.web.FileUploader">
	</bean>
	
	<bean id="userController" class="com.ibm.user.web.UserController">
	</bean>
	
	<bean class = "org.springframework.web.servlet.view.BeanNameViewResolver">
    <property name = "order" value = "1" />
	</bean>
	
	<!--컨트롤러 리턴시 다른것들보다 먼저 읽혀야 하기 때문에 order를 0과 1로 지정-->
	<bean class = "org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	    <property name = "order" value = "0" />
	    <property name = "defaultErrorView" value = "error" />
	</bean>
	<bean id="excelDownloader" class="com.ibm.user.web.ExcelDownloader">
	</bean>
</beans>
