<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-config.dtd">
	
   <configuration>
		
	<typeAliases>
		<!-- <typeAlias type="com.ktds.board.vo.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.ktds.user.vo.UserVO" alias="UserVO"/>
		<typeAlias type="com.ktds.board.vo.BoardSearchVO" alias="BoardSearchVO"/>
		 -->
		 
		 <typeAlias type="com.ibm.board.vo.BoardVo" alias="BoardVo"/>
		 <typeAlias type="com.ibm.user.vo.UserVo" alias="UserVo"/>
	</typeAliases>

    <mappers>
      <!--   <mapper resource="com/ktds/board/dao/sql/boardDaoSql.xml" /> -->
      
      <mapper resource="/com/ibm/board/dao/sql/BoardDaoSql.xml" />
      <mapper resource="/com/ibm/user/dao/sql/UserDaoSql.xml" />
    </mappers>

</configuration>
   